.nav-background {
  background-color: blue;
  padding-top: 0.4rem;
  padding-bottom: 0.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  margin-right: auto;
  padding-left: 2rem;
}

.logo-decoration {
  text-decoration: none;
  color: yellow;
}

.logo-part-two {
  color: white;
}

.navbar-ref {
  font-weight: bold;
  font-size: 18px;
  color: yellow;
  text-decoration: none;
}

.navbar-ref-a:hover {
  color: white;
}

.navbar-image {
  height: 35px;
}

.navbar-list {
  list-style: none;
  display: inline-block;
  padding: 0px 22px;
}
