
.home-flex-contain{
  display: flex;
  margin-top: 4rem;
}

.right-panel-back{
  width: 1000px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.left-panel-back{
  width: 900px;
  margin-left: 2rem;
}

.search-title{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 3.8rem;

}

.search-style{
  font-weight: bold;
  font-size: large;
}

.global-sales-text{

  color: blue;

}

.best-con-contain{
  display: flex;
  margin-top: 6rem;
}

.twentysixteen-contain{
  display: flex;
  margin-top: 6rem;
}

.b-question-wrap{
  max-width: 450px;
  margin-left: 16rem;
  padding-right: 2px;
  padding-left: 2px;
}

.e-question-wrap{
  max-width: 450px;
  margin-left: 9rem;
  padding-right: 2px;
  padding-left: 2px;
  margin-bottom: 15rem;
}
.question-text{
  font-size: xx-large;
  font-weight: bold;
  padding-top: 1.5rem;
}

.e-question-text{
  font-size: xx-large;
  font-weight: bold;
  padding-top: 0.7rem;
}


.best-contain-ch{
  width: 1000px;
  margin-left: 3rem;
}

.twensix-contain{
  width: 1000px;
}

.best-q-answer{
  font-size: x-large;
}

.best-eq-answer{
  font-size: x-large;
}

.instyle-blue{
  color: blue;
  font-weight: bold;
}

.pointer-size{
  height: 80px;
  float: right;
  padding-right: 2.2rem;
}

.pointer-size-left{
  height: 80px;
  padding-left: 0.1rem;
}